.homepage-container {
    display        : flex;
    justify-content: center;

    .heropage {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 100vh;
        overflow: hidden;

        video {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    .homepage-content {
        color         : white;
        position      : relative;
        width         : 70%;
        padding       : 40px;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        gap           : 25px;

        .title-content {
            text-align : center;
            font-size  : 4em;
            font-weight: 800;
        }

        .subtitle-content {
            width     : 70%;
            text-align: justify;
            font-size : 19px;
        }

        .btn-content {
            button {
                background-color: rgb(249, 253, 255);
                color           : rgb(1, 14, 87);
                padding         : 10px 40px;
                font-weight     : 800;
                border          : none;
                outline         : none;
                border-radius   : 8px;
            }
        }
    }

}

.box {
    width : 100%;
    height: 500px;
    border: 1px solid red;
}